<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="css/style.css">
    <link href="images/favicon.ico" rel="shortcut icon">
    <title>{% block title %}{% endblock %}</title>

</head>

{% url home_url_name as home %}
{% url mybooks_url_name as mybooks %}
{% url profile_url_name as profile %}

<body>
    {% block nav %}
    <ul id="nav">
        <li>{% block nav-home %}<a href="home">Home</a>{% endblock %}</li>
        <li>{% block nav-mybooks %}<a href="mybooks">My Books</a>{% endblock %}</li>
        <li>{% block nav-profile %}<a href="profile">Profile</a>{% endblock %}</li>
    </ul>
    {% endblock %}

    <h1>{% block header %}{% endblock %}</h1>
    {% block content %}{% endblock %}
</body>
</html>

</html>
